body {
    margin: 0;
}

section {
    margin-top: 30px;
    font-family: "Finger Paint", cursive;
}

.container1 {
    padding-left: 0;
    padding-right: 0;
    &h1 {
        text-align: center;

        color: purple;
        margin-bottom: 50px;
        font-size: 25px;
        font-family: "Finger Paint", cursive;
    }


    & .row {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        box-shadow: 1px 1px 12px purple;
        & p {
            font-size: 14px;
            text-align: center;
        }
       
    }
 }
    img:hover {
        transform: scale(1.1);
    }


.col-sm-6 {
    text-align: center;
    padding-top: 50px;
    
}

#prix {
    display: flex;
    margin-bottom: 20px;
    margin-left: 100px;
}

#couleur {
    display: flex;
    margin-bottom: 20px;
    margin-left: 100px;
    & p {
        padding-right: 20px;
    }
}

#quantité {
    display: flex;
    margin-bottom: 20px;
    margin-left: 100px;
    & p {
        padding-right: 20px;
    }
}

h1{
text-align: center;
color: blueviolet;
}

.col-sm-6 img{
    box-shadow: 1px 1px 12px purple;
    border: .1em solid #000;
}
