#footer {
  display: flex;
  justify-content: space-between;
  background-color: #f3e9f1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;

  & .mentions p {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 15px;
    font-family: "Finger Paint", cursive;
  }

  & .mentions a {
    color: #9f64d0;
    font-weight: bold;
    text-decoration: none;
  }

  & .contact p {
    padding-right: 20px;
    padding-top: 10px;
    font-size: 15px;
    font-family: "Finger Paint", cursive;
  }
  & .mentions a {
    color: #9f64d0;
    font-weight: bold;
    text-decoration: none;
  }

  & .contact a {
    color: #9f64d0;
    font-weight: bold;
    text-decoration: none;
  }
}
