header {
    text-align: center;
    width: 100%;
    background-color:#F3E9F1;  
    & p{
        color: #9f64d0;
        font-weight: bold;
        font-family:'Finger Paint', cursive; 
        margin-top: 20px;
    }
}

.navbar{
    padding: 0;     
}

.navbar nav{
    margin-right: 0;
}

.navbar-toggler{
    background-color: blueviolet;
}

.logo{
    padding-left: 5px;

}



.mr-auto{
    margin-left: 50px!important;
}

