header {
    text-align: center;
    width: 100%;
    background-color:#F3E9F1;  
    & p{
        color: black;
        font-weight: bold;
        font-family:'Finger Paint', cursive; ;
    }
}

.navbar{
    padding: 0;
    
    
}

.navbar nav{
    margin-right: 0;
}

.logo{
    padding-left: 5px;

}

.nav-link{
    color: black;
}


