body {
    margin: 0;
}

section {
    height: 2000px;
    margin-top: 40px;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

h1 {
    text-align: center;
    color: purple;
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 25px;
}

#teddies {
    margin-left: 80px;
    margin-right: 80px;
   
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 20px;
    height: 250px;
    box-shadow: 1px 1px 12px purple;
  

    & h2 {
        margin-top: 130px;
        margin-right: 50px;
        color: purple;
        text-align: center;
        font-size: 30px;
        
    }

    & img {
        box-shadow: 1px 1px 12px purple;
        height: 200px;
        
        margin-top: 20px;
        border-radius: 50px;
        margin-left: 20px;
    }

    & .text {
        margin-left: 20px;
    }
}
