body {
    margin: 0;
}

section {
    height: 1600px;
    margin-top: 40px;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

h1 {
    text-align: center;
    color: purple;
    margin-bottom: 50px;
    font-size: 25px;
}


.row{
    margin-left: 100px;
    margin-right: 100px;  
    box-shadow: 1px 1px 12px purple;
  
}

.col-md-6 img{
    box-shadow: 1px 1px 12px purple;
    height: 200px; 
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 50px;
}

.col-md-6{
    width:500px;
}

h2 {
    margin-top: 50px;
    margin-right: 50px;
    color: purple;
    text-align: center;
    font-size: 30px;
    
}