body {
    margin: 0;
}

section {
    height: 1600px;
    margin-top: 40px;
    font-family:'Finger Paint', cursive;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

h1 {
    text-align: center;
    color: purple;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: 'Finger Paint', cursive;
}


.row{
    margin-left: 50px;
    
    margin-right: 50px;  
    height: 250px;
    box-shadow: 1px 1px 12px purple;
    & p{
        font-size: 20px;
    }
  
}

.col-sm-6 img{
    box-shadow: 1px 1px 12px black;
  height: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    margin-left: 50px;
}


h2 {
    margin-top: 50px;
    margin-right: 50px;
    color: purple;
    text-align: center;
    font-size: 30px;
    
}